@import "../../assets/abstracts/variables";

//styles
body {
  background: url(../../assets//landing-page-images/background.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin-top: 50px;
  text-decoration: none;
  margin-left: 50px;
}

.logo-text {
  text-decoration: none;
  color: white;
}

.header-container button {
  background: $primary-color;
  color: white;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 10px;
}

.login-btn {
  margin-top: 50px;
  margin-right: 50px;

  a {
    color: $text-white-color;
  }
}

.hero {
  height: 100vh;
}

.hero-text {
  padding-top: 220px;
  padding-left: 800px;
  font-size: 13px;
}

.hero-text h1 {
  width: 400px;
}

.hero-text h1 span {
  color: $primary-color;
}

.hero-text p {
  width: 400px;
}

.content-first {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.text-first {
  padding-top: 180px;
}

.content-second {
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
}

.text-second {
  padding-top: 200px;
  padding-left: 100px;
}

.content-third {
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
}

.text-third {
  padding-top: 200px;
}
