@import "../../../assets/abstracts/variables";

.category-title h2 {
    font-size: 20px; 
    font-Weight: 'bold';
}
.category-title p {
    width: 400px;
}
.fun-relax, .bill-pay, .daily-needs, .urgent-needs {
    margin-top: 20px;
    background: #ffff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(54, 79, 145, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
}

.category-form {
    max-height: 350px;
    overflow-y: auto; 
} 

.category-form::-webkit-scrollbar {
    box-shadow: inset 2px 2px 5px 0 rgba(rgb(146, 146, 146), 0.5);
    border-radius: 10px;
    width: 10px;
}

.category-form::-webkit-scrollbar-thumb {
    background-color:rgb(146, 146, 146);
    border-radius: 10px;
}
.category-form input {
    width: 350px;
    border: 1px solid #8E8E8E;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
}

.category button {
        background: $primary-color;
        color: white;
        border: none;
        color: "white";
        border-Radius: 5px;
        width: 400px;
        margin-Left: 35px;
        margin-Right: 35px;
        height: 35px;
        margin-top: 10px;
        cursor: 'pointer';
}