@import "../../../assets/abstracts/variables";

// .category-container Form.Item {
//     margin-left: 20px;
// }

.category-title h2 {
    font-size: 20px; 
    font-Weight: 'bold';
}
.category-title p {
    width: 400px;
}
.fun-relax, .bill-pay, .daily-needs, .urgent-needs {
    margin-top: 20px;
    background: #ffff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(54, 79, 145, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
}

.category-container {
    max-height: 350px;
    overflow-y: auto; 
} 

.category-container::-webkit-scrollbar {
    box-shadow: inset 2px 2px 5px 0 rgba(rgb(146, 146, 146), 0.5);
    border-radius: 10px;
    width: 10px;
}

.category-container::-webkit-scrollbar-thumb {
    background-color:rgb(146, 146, 146);
    border-radius: 10px;
}

.category-modal-btn Button {
    background-color: $primary-color;
    color: $text-white-color;
    border-radius: 10px;
    margin-bottom: 20px;
  }