@import "../../../assets/abstracts/variables";

.create-form {
  margin-left: 60px;
  margin-right: 60px;
}

.create-form img {
  border-radius: 10px;
  background: "#003F88";
  margin-left: 180px;
  margin-right: 180px;
}
.create-first-wrapper {
  margin-top: 20px;
}

.create-modal-btn Button {
  background-color: $primary-color;
  color: $text-white-color;
  border-radius: 10px;
  margin-bottom: 20px;
}
