@import "../../../assets/abstracts/variables";

.ant-modal-body {
  box-shadow: 0px 2px 10px rgba(54, 79, 145, 0.3);
  // display: grid;
  flex-direction: column;
  border-radius: 10px;
}

.create-first {
  display: grid;
  text-align: center;
  color: black;
}

.create-first h2 {
  font-weight: "bold";
  font-size: 18px;
}

.create-first p {
  margin-left: 100px;
  margin-right: 100px;
}

.create-first button {
  background: $primary-color;
  color: white;
  border: none;
  color: "white";
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: "pointer";
  padding-top: 10px;
  padding-bottom: 10px;
}
