@import "../../assets/abstracts/variables";

.print-report-detail {
  display: flex;
  justify-content: center;
  padding: 40px;

  .print-card-container {
    background-color: $text-white-color;
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .print-card-content {
      padding: 20px;
    }

    .time-range-title {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
    }

    .time-range-wrapper,
    .income-wrapper,
    .expense-wrapper,
    .net-income-wrapper,
    .ending-balance-wrapper {
      margin-bottom: 20px;

      .time-range-content {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .section-title {
    font-size: 16px;
    font-weight: bold;
    display: flex;
  }

  .income-content,
  .net-income-content-income,
  .net-income-content-expense {
    display: flex;
    justify-content: space-between;
  }

  .income-title-value {
    display: flex;

    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.indicator-wrapper {
  display: flex;
  justify-content: flex-end;
}

.minus-indicator {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

.line-indicator {
  width: 100px;
  border-bottom: 1px solid black;
}

.minus-result {
  display: flex;
  justify-content: flex-end;
}

.print-card-container-result {
  width: 100%;

  .time-range-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
  }
}
