@import "../../assets/abstracts/variables";

.transaction-modal,
.income-modal {
  display: flex;

  button {
    margin: 5px auto;
    width: 200px;
    border-radius: 15px;
    background: $chart-color2;
    border: 1px solid $chart-color2;

    &:hover {
      background: $chart-color2;
      transform: scale(1.05);
      transition: all 0.5s ease;
    }

    &:focus {
      background: $chart-color2;
      border-color: $chart-color2;
    }
  }
}

.ant-modal-header,
.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-title {
  font-size: 24px;
}

.modal-verif {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;

  img {
    width: 180px;
  }

  p {
    text-align: center;
    color: $text-grey-color;
  }

  a {
    color: $text-grey-color;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      color: blue;
    }
  }

  button {
    display: block;
    width: 100%;
    background: $primary-color;
    color: $text-white-color;
    border-radius: 10px;

    &:hover {
      background: $primary-color;
      color: $text-white-color;
      border: unset;
      transform: scale(1.02);
      transition: all 0.5s ease;
    }
  }
}
