.ant-page-header,
.ant-page-header-ghost {
  // background: white;
}

.header-report img {
  height: 30px;
}

.header-report button {
  width: 150px;
  background: transparent;
  border: 1px solid rgb(65, 65, 146);
}

.header-detail {
  display: flex;
  gap: 20px;
}

.print-btn button {
  cursor: pointer;
  height: 40px;
}
