@import "../../assets/abstracts/variables";

.safe-title-wrapper {
  display: flex;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
  position: sticky;
}

.safe-edit-container {
  display: flex;
  justify-content: space-between;

  .safe-edit-card {
    width: 800px;
    border-radius: 10px;
    background-color: $text-white-color;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    img {
      display: flex;
      width: 50px;
      margin: 20px auto;
    }
  }
  .button-safe {
    display: flex;
    gap: 20px;
    flex-direction: column;

    button {
      width: 200px;
      border-radius: 10px;
      color: $text-white-color;
    }

    .btn-save-safe {
      background-color: $primary-color;

      &:hover {
        background-color: ($dark-color);
      }

      &:active {
        background-color: ($dark-color);
        transform: scale(0.95);
        transition: all 0.1s ease;
      }
    }

    .btn-delete-safe {
      background-color: $text-red-color;

      &:hover {
        background-color: rgb(199, 1, 1);
      }

      &:active {
        background-color: rgb(199, 1, 1);
        transform: scale(0.95);
        transition: all 0.1s ease;
      }
    }
  }
}
