// Logo Colors
$dark-color: #013a63;
$primary-color: #003f88;
$accent-color: #4ea8de;

// Chart Colors
$chart-color1: #013a63;
$chart-color2: #1eae98;

// Text Colors
$text-black-color: #000000;
$text-red-color: #f50000;
$text-grey-color: #8e8e8e;
$text-white-color: #ffffff;
