.site-page-header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.site-page-tab {
  display: flex;

  .ant-tabs-nav-wrap {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-between;
    }

    .ant-tabs-tab {
      margin: 0 60px;
      padding: 10px 40px;
      font-size: 20px;
    }
  }
}

.ant-tabs-tab {
  padding-left: 150px;
  padding-right: 150px;
}

.ant-tabs {
  overflow: unset;
}
