@import "../../assets/abstracts/variables";

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background: $primary-color;

  a {
    color: $text-white-color;
  }

  .ant-menu {
    border-right: 0;

    .ant-menu-submenu-arrow {
      color: $text-white-color;
      background-color: $text-white-color;
    }
  }

  ul {
    background: $primary-color;
    color: $text-white-color;

    li {
      border-bottom: 2px solid $text-white-color;

      .radio-group {
        display: flex;
        flex-direction: column;
        margin: 0;

        label {
          padding: 10px 50px;
          border-bottom: 2px solid $primary-color;
          margin: 0;
        }
      }
      :hover {
        color: $chart-color2;
      }
    }
  }
  .edit-group {
    li {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
      margin: 0;

      a {
        color: $primary-color;
      }
    }
  }

  .side-modal {
    margin: 30px 0;
  }
}

// Sidebar
// .sidebar {
//   height: 100vh;
//   position: sticky;
//   top: 0;
//   left: 0;
//   background: $primary-color;

//   .ant-menu {
//     border-right: 0;
//   }
// }
