@import "../../assets/abstracts/variables";

.info ul {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  list-style: none;
  gap: 100px;
  border-bottom: 1px solid white;
  width: 75%;
  margin-left: 50px;
}

.info-detail ul {
  list-style: none;
  margin-left: 40px;
}

.row-detail {
  display: flex;
}

.download {
  padding-left: 500px;
  padding-top: 15px;
}

.download h3 {
  color: white;
}
.download-img {
  list-style: none;
}

.footer-container {
  width: 100%;
  display: flex;
}

.copyright ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 17px;
}


.bottom {
display: flex;
 
}

.cr {
  margin-left: 500px;
}

.bahasa img {
  height: 25px;
}

.bahasa {
  display: flex;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 12px;
}

.ant-select-arrow {
  color: white;
}