@import "../../assets/abstracts/variables";

.info ul {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  list-style: none;
  gap: 100px;
  border-bottom: 1px solid white;
  width: 75%;
  margin-left: 50px;
}

.info-detail ul {
  list-style: none;
  margin-left: 40px;
}

.row-detail {
  display: flex;
}

.download {
  color: white;
  padding-left: 20%;
  padding-top: 15px;
}
.download-img {
  list-style: none;
}

.footer-container {
  width: 100%;
  display: flex;
}

.copyright ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  justify-content: center;
}

.bottom {
  display: flex;
  width: 100%;
}

.cr {
  margin-left: 70vh;
}
