.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-info {
    text-align: center;
    margin-top: 20px;
    h3,
    h4 {
      color: white;
      margin: 0;
    }
  }
}
