@import "../../assets/abstracts/variables";

.rc-virtual-list-holder {
  max-height: 500px;
}

p.desc-label {
  color: $text-grey-color;
  margin-top: -10px;
}

.button-submit {
  background: $primary-color;
  color: $text-white-color;
}

// .ant-select {
//   border: 1.5px solid $primary-color;
// }

.input-wrapper {
  img {
    position: absolute;
    z-index: 9;
    margin: 10px;
  }

  input {
    padding-left: 40px;
    border: 1.5px solid $primary-color;
  }
}

.category-wrapper {
  .select-container {
    .transaction-modal-select {
      display: flex;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
