@import "../../assets/abstracts/variables";

.edit-safe-title {
  font-weight: bold;
}

.edit-safe-limit {
  font-size: 12px;
}

.edit-safe-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // padding: 40px;

  .edit-safe-card {
    width: 900px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .edit-safe-card-title {
      display: flex;
      font-size: 25px;
      flex-direction: column;
      align-items: center;
      padding: 50px;

      .safe-icon-container {
        margin-top: 20px;
        display: flex;
        gap: 20px;
      }
    }

    .edit-safe-content {
      padding: 20px;
    }
  }

  .safe-btn-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;

    .save-safe-btn {
      background-color: $primary-color;
      color: $text-white-color;
      width: 200px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .delete-safe-btn {
      background-color: $text-red-color;
      color: $text-white-color;
      width: 200px;
      border-radius: 10px;
    }
  }
}
